@import "../../global.scss";

.header-landing-page-container {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .header-landing-page-right-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
}
