@import "../../global.scss";

.home-container {
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  .home-container-top-section {
    max-width: 100%;
    max-height: 450px;
    display: flex;
    flex-direction: row;
    margin: 2rem;

    .home-container-trending-column {
      background: rgb(255, 255, 255);
      min-width: 30%;
      height: 100%;
      border-radius: 20px;
      margin-right: 1rem;
      box-shadow: 0px 2px 12px 3px rgba(128, 128, 128, 0.14);
    }

    .home-container-news-column {
      width: 100%;
      background: white;
      border-radius: 20px;
      margin-left: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 2px 12px 3px rgba(128, 128, 128, 0.14);
    }
  }

  .home-container-bottom-section {
    max-width: 100%;
    height: auto;
    margin: 1rem 2rem 2rem 2rem;

    .crypto-top-list-container {
      width: 100%;

      .crypto-list-top-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navigate-page-input {
          display: flex;
          justify-content: center;
          align-items: center;

          .page-navigation-buttons-container {
            margin-right: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            .page-navigate-button {
              background-color: black;
              color: white;
              padding: 1rem;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: 0.2s;
            }

            .page-navigate-button:last-child {
              margin-right: 0;
            }

            .page-navigate-button:hover {
              background-color: $green;
            }
          }

          button {
            border: none;
            padding: 1rem;
            border-radius: 25px;
            margin-left: 1rem;
            background-color: black;
            color: white;
            font-weight: 800;
            transition: 0.2s;
            cursor: pointer;
          }

          button:hover {
            background-color: $green;
          }

          input {
            border: none;
            padding: 1rem;
            border-radius: 25px;
            background-color: black;
            color: white;
            font-weight: 800;
            width: 30px;
            text-align: center;
          }

          input::placeholder {
            color: white;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input[type="number"] {
            -moz-appearance: textfield;
          }

          input:focus {
            outline: none;
          }
        }
      }

      .crypto-list-heading {
        h1 {
          margin: 1rem auto 1rem auto;
          font-size: 32px;
          font-weight: 800;
        }
      }
    }
  }
}

.home-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 490px) {
  .home-container {
    display: flex;
    flex-direction: column;

    .home-container-top-section {
      flex-direction: column;
      // margin: 0;

      .home-container-trending-column {
        margin: 0;
        width: 100%;
      }

      .home-container-news-column {
        width: 100%;
        display: none;
      }
    }

    .home-container-bottom-section {
      display: flex;
    }
  }
}
